__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
.venv/
venv/
pip-log.txt
pip-delete-this-directory.txt
.git
.gitignore
.dockerignore
temp_pulled_kernel/
storage/audio/*
storage/samples/*
!storage/audio/.gitkeep
!storage/samples/.gitkeep
